.left {
    background-color: black;
    text-align: left;
    width: 18%;
    padding-left: 5%;
    padding-top: 5%;
}

.left img {
    border-radius: 20%;
}

.left p {
    font-size: 1.1rem;
    margin-top: 20px;
    font-weight: bold;
}
#nid {
    font-size: 1rem;
    margin-top: -15px;
    color: #979797;
}

.menu {
    margin-top: 50%;
}

.menu a {
    text-decoration: none;
    color: #979797;
    font-size: 1.1rem;
    padding-bottom: 25px;
    display: block;
    margin: 0% 0%;
    border-radius: 5px;
}

.menu a:hover {
    color: white;
}

.menu i {
    margin-right: 15px;
    font-size: 1rem;
}

.menu .active {
    color: white;
}

#logout {
    margin-top: 120%;
}

.mid {
    width: 62%;
}

.title {
    margin: 0px 75px;
    padding: 20px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 4%;
    border: 2px solid black;
}

.title h5 {
    color: #6b6a6a;
}

.title a,
.title button {
    float: right;
    margin-top: -62px;
    margin-right: 25px;
    padding: 12px 35px;
}

.mid .status {
    margin: auto 75px;
}

.status .col {
    margin: 20px 15px;
    padding: 15px 25px;
    font-weight: bold;
    border-radius: 10px;
}
.status .col h5 {
    color: #6b6a6a;
    margin-bottom: 20px;
}

#summary {
    background-color: #f0f9ff;
}

#first {
    background-color: #f1f4fd;
}

#second {
    background-color: #fbfde7;
}

.health {
    margin: 25px 75px;
}

.hstatus {
    margin: 20px 15px;
    padding: 15px 25px;
    font-weight: bold;
    background-color: #f47174;
    width: 40%;
    border-radius: 5px;
}

.hstatus .icon {
    width: 25%;
    font-size: 2.5rem;
}

.hstatus .text {
    width: 75%;
}

.right {
    width: 20%;
}

.right .brand {
    margin-top: 50px;
    margin-right: 20px;
    border: 1px solid black;
    background-color: #fff6fb;
    padding: 25px;
}

.right ul {
    list-style-type: none;
    margin-top: 20px;
}

.right li {
    margin-top: 10px;
}

.card-right {
    width: 82%;
    padding: 0px 5%;
}

.alert {
    margin: auto 75px;
}

.cert-right {
    width: 82%;
    padding: 0px 5%;
}
.cert-right table {
    margin: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}
.cert-right td {
    width: 25%;
    vertical-align: middle;
}

.solid {
    border: 1px solid grey;
}

.dash {
    border: 1px dashed grey;
}
.dash-no-left {
    border: 1px dashed grey;
    border-left: 0px;
}
.dash-no-right {
    border: 1px dashed grey;
    border-right: 0px;
}
.dash-top {
    border-top: 1px dashed grey;
}

.watermark {
    display: none;
}

@media print {
    @page {
        size: auto;
        margin: 0px;
        margin-top: 25px;
    }
    * {
        -webkit-print-color-adjust: exact !important; /* Chrome, Safari, Edge */
        color-adjust: exact !important; /*Firefox*/
    }

    .card-right {
        width: 100%;
        zoom: 70%;
        margin: 0px;
        font-size: small;
    }
    .cert-right {
        width: 100%;
        margin: 0px;
        font-size: small;
    }

    .watermark {
        display: block;
        position: fixed;
        z-index: -1;
        align-self: center;
        top: 35%;
        zoom: 0.75;
        opacity: 0.25;
    }

    .col {
        padding: 20px;
        border: 1px solid black;
    }
    .cert-right .col {
        border: 0;
    }
    .alert {
        width: 100%;
        left: 0;
        margin: auto 0;
        background-color: #fc6567;
        color: white;
    }

    .title {
        border: 0;
        margin: 0;
    }
    .logo .col {
        border: 0;
    }
}
